APP_ENV=development
APP_VERSION=0.1.0

DATABASE_URL=postgresql+psycopg://healthcheck:healthcheck@postgres:5432/healthcheck
REDIS_URL=redis://redis:6379/0

DATA_DIR=/data

SSH_PORT=22
SSH_CONNECT_TIMEOUT=10
SSH_COMMAND_TIMEOUT=60

WINRM_PORT=5985
WINRM_TRANSPORT=ntlm
WINRM_SERVER_CERT_VALIDATION=ignore
WINRM_TIMEOUT=30

CELERY_WORKER_CONCURRENCY=10

LOG_LEVEL=INFO

CORS_ORIGINS=http://localhost:3000

MOCK_CONNECTORS=false
SEED_ON_STARTUP=false
CREDENTIAL_KEY=_iwmMUD3UBicRWWSkwGosyXUBwNvy62qJgKNVJbKvKQ=
JWT_SECRET=lab-only-jwt-secret-change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
CELERY_EAGER=false
STORAGE_BACKEND=local
CREDENTIAL_BACKEND=local
